*{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
body{
        
        font-family: "Poppins", sans-serif;
      
}
header{
    max-width: 1200px;
    margin: auto;
    
}
nav{
   display: flex; 
   justify-content: space-between;
   align-items: center;
}
nav>ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 600;
}
nav ul li a {
    text-decoration: none;
}
.nav-title{
    font-size: 1.8rem;
    font-weight: 700;
}
.influencer{
    display: flex;
    align-items: center;
    margin-top: 70px;

    margin-bottom: 40px;
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size: 410px;

}
.bg-img{
    margin-left: 135px;
}
.influencer-title{
    font-size: 4.25rem;
    font-weight: 700;
    margin-bottom: 0;
}
.influencer-description{
    font-size: 1rem;
    font-weight: 600;
}
.btn-primary{
    font-size: 1rem;
    font-weight: bold;
    background-color:#E02C6D ;
    border-radius: 10px;
    color: white;
    padding: 12px;
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
}
.sellar{
    max-width: 1110px;
    margin:120px auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(7,1fr);

    align-items: center;
    justify-content: space-around;
}
.popular-collection-title{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.popular-collection{
    max-width: 1100px;
    margin: 20px auto;
   
    
}
.card-popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px ;
}
.card{
    max-width: 330px;
    border: 4px solid whitesmoke;
    padding: 8px;
    
}
.card .img{
    max-width: 300px;
    margin:0 auto;
    padding: 0;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
}
.price{
    font-size: 1.5rem;
    margin: 0;
    color: #5f5b5b;

}
.rating,.card-description{
    font-size: 14px;
    font-weight: 700;

    color: #5E6366;
    margin-bottom: 5px;
    
}
.card-description{
    color:#787885 ;
    margin: 0;
}
.rating-star{
    color:#FB8200 ;
}
.see-more-btn{
    font-size: 1rem;
    font-weight: 700;
    color: #ee528b;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    margin-top: 40px;
    
    
}
.Featured-place{
    display: flex;
    max-width: 1110px;
    align-items: center;
    gap: 40px;
    margin:40px auto;
}
.Featured-place-title{
    font-size: 2.3rem;
    font-weight: bold;
    color: #0A0826;
}
.Featured-place-description{
    font-size: 1rem;
    font-weight: bold;
    color:#6C6C6C ;
}
footer{
    background-color: black;
    color: white;
    padding: 40px 0;
    text-align: center;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-description,.all-right {
    font-size: 14px;
    font-weight: bold;
    color: #D9DBE1;
}






/* responsive start */
@media screen and (max-width:576px) {
    nav
    {
        flex-direction: column;
    }
    nav>ul{
        flex-direction: column;
        align-items: center;
    }
    .influencer
    {
        flex-direction: column-reverse;
        background-position: center;
        margin-top: -280px;
    }
    .Featured-place{
        flex-direction: column-reverse;
    }
    .sellar{
        
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        
        margin-bottom: 200px;
        justify-content: stretch;
        
    }
    .bg-img{
        margin-left: 0px;
        padding-top: 400px;
    }
    .bg-img img{
        max-width: 350px;
      
    }
    .card-popular-collection{
        grid-template-columns: repeat(1,1fr);
        
    }
    .card{
        margin: auto;
    }
   
}
@media screen and (min-width:576px) and (max-width:992px) {
    nav
    {
        flex-direction: column;
    }
    
    .card-popular-collection{
        grid-template-columns: repeat(2,1fr);
        
    }
    .card{
        margin: auto;
    }
    .bg-img {
        margin-left: 0px;
    }
    .sellar{
        grid-template-columns: repeat(4, 1fr);
    }
}